body{
    margin: 0;
    padding: 0;
}

div.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(magenta, black);
    gap: 5vh;
}

audio.audio{
    zoom: 150%;
}

div.text{
    font: 3em verdana;
    color: white;
    text-shadow: 3px 3px 3px #0008;
}

input#checkbox{
    vertical-align: -2px;
    cursor: pointer;
}

label{
    font: 1em verdana;
    color: white;
    text-shadow: 1px 1px 1px #0008;
    zoom: 150%;
    cursor: pointer;
}