div.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: space-evenly;
    height: 100vh;
    background-image: radial-gradient(magenta, black);
}

audio.audio{
    zoom: 200%;
}

p.text{
    font: 3em verdana;
    color: white;
}